<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <property name="LOG_DIR" value="." />

    <appender name="ACCESS_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/access.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/error.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter">
        <appender-ref ref="ACCESS_FILE" />
        <level value="DEBUG" />
    </logger>

    <logger name='com.factorypal.demo.controller.SpeedController' level='ERROR' >
        <appender-ref ref="ERROR_FILE" />
    </logger>

</configuration>